.no-link {
  text-decoration: none;
  color: initial;

  &:hover {
    color: initial;
    text-decoration: none;
  }

}

.clickable {
  cursor: pointer;
}

// .clean-dropdown {

//   .dropdown-toggle {
//     background-color: transparent;
//     border-color: transparent;

//     &::after {
//       display: none;
//     }

//     + .dropdown-menu {
//       box-shadow: 0 1px 15px rgba(27,31,35,.15);
//       position: absolute;
//       left: initial;
//       right: 0;

//       span.d-block {
//         font-weight: 600;
//       }

//       .arrow-up {
//         width: 0;
//         height: 0;
//         position: absolute;
//         top: 0;
//         right: 9px;
//         border-left: 8px solid transparent;
//         border-right: 8px solid transparent;
//         border-bottom: 8px solid white;
//         margin-top: -7px;
//       }
//     }
//   }
// }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.unclickable {
  pointer-events: none;
  cursor: initial;
}

.clean-dropdown {

  .dropdown-toggle {
    background-color: transparent;
    border-color: transparent;

    &::after {
      display: none;
    }

    + .dropdown-menu {
      box-shadow: 0 1px 15px rgba(27,31,35,.15);
      position: absolute;
      left: initial;
      right: 0;

      span.d-block {
        font-weight: 600;
      }

      .arrow-up {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 9px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
        margin-top: -7px;
      }
    }
  }
}

.plus-minus {
  --primary: #212529;
  --secondary: #FAFBFF;
  --duration: .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, #212529);
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 240px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  background-size: 300% 300%;
  transition: transform .3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  animation: var(--name, unchecked) var(--duration) ease forwards;
  margin-bottom: -3px;

  &:before,
  &:after {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      content: '\f067';
      color: white;
      position: absolute;
      width: 16px;
      height: var(--height, 16px);
      left: 2.4px;
      top: -0.5px;
      font-size: 0.75rem;
      animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) var(--duration) ease forwards;
  }
  &:before {
    content: '\f068';

    color: #212529;
  }
  &:after {
      --height: 4px;
      --top: 12px;
      --background: var(--secondary);
      --name-icon-b: var(--name-icon-a, checked-icon);
  }
  &:active {
      --scale: .95;
  }
  &:checked {
      --name: checked;
      --name-icon-b: checked-icon;
      --name-icon-a: unchecked-icon;
  }
}

@keyframes checked-icon {
  from {
      transform: translateZ(12px);
  }
  to {
      transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@keyframes unchecked-icon {
  from {
      transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
      transform: translateZ(12px);
  }
}

@keyframes checked {
  from {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 100% 50%;
  }
  to {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 50% 50%;
  }
}

@keyframes unchecked {
  from {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 100% 50%;
  }
  to {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 50% 50%;
  }
}

