@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
      url('../../assets/fonts/Nunito/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
      url('../../assets/fonts/Nunito/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
      url('../../assets/fonts/Nunito/NunitoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
      url('../../assets/fonts/Nunito/NunitoSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
      url('../../assets/fonts/Nunito/NunitoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
      url('../../assets/fonts/Nunito/NunitoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Light'), local('NunitoSans-Light'),
      url('../../assets/fonts/Nunito/NunitoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'),
      url('../../assets/fonts/Nunito/NunitoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
      url('../../assets/fonts/Nunito/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cubano';
  src: local('Cubano'), local('Cubano'),
      url('../../assets/fonts/Cubano.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

