<section class="pay-pix-section container text-center">
    <i class="fa-brands fa-pix fa-2xl"></i>
    <h3 class="mt-4">Pague agora com o Pix</h3>
    <p>Leia o <strong>QRCode</strong> abaixo com o aplicativo <strong>do seu banco</strong> e realize o pagamento do Pix:</p>
    <img [src]="qrCodeImage" alt="" width="300px" height="300px">
    <div class="or mb-3">
        <div class="w-100 d-flex justify-content-center">
            <div class="bar"></div>
        </div>
        <div class="d-flex w-100 d-flex flex-row justify-content-center">
            <span class="rounded-circle text-white align-self-center">OU</span>
        </div>
    </div>
    <p>Copie o <strong>Código Pix</strong> abaixo e insira na opção <strong>Pix Copia e Cola</strong> no aplicativo <strong>do seu banco</strong> para realizar o pagamento do Pix:</p>
    <div class="text-break bg-light rounded mx-sm-5 p-2">
        {{qrCode}}
    </div>
    <button type="button" class="btn btn-primary btn-vaquita mt-3" ngxClipboard [cbContent]="qrCode" (cbOnSuccess)="copiedText()"><i class="fa-solid fa-copy"></i> Copiar Código</button>
</section>