@import "./../../../../scss/variables.scss";

h3 {
    font-family: 'Cubano';
}

img {
    max-width: 400px;
    margin: 12px auto;
    width: 100%;
    height: auto;
}

.or {
    .bar {
        background-color: #cdcdcd;
        border: none;
        height: 2px;
        width: 16em;
        // margin-top: 1.2rem;
    }

    span {
        display: block;
        //   position: absolute;
        font-size: .65rem;
        font-weight: bold;
        //   margin-left: -1.5em;
        background-color: $background-main;
        width: 3em;
        padding: .7em .7em;
        text-align: center;
        margin-top: -17px;
        z-index: 1;
    }
}

.btn-primary.btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;

    &:hover {
      background-color: $background-light;
      border-color: $background-light;
    }
  }

@media screen and (min-width: 375px) {
    .bar {
        width: 22em !important;
    }
}