<section class="products-section container pt-3">
    <div class="row gy-4">
        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products; let i = index">
            <div class="card clickable" (click)="getProduct()">
                <img [src]="product.image"
                    class="card-img-top img-fluid" [alt]="product.name">
                <div class="card-body">
                    <h5 class="card-title">{{product.name | resumir:60}}</h5>
                    <p class="d-flex flex-row justify-content-between mb-0 mt-2">
                        <span class="d-flex price fs-5">{{product.price | currency:'BRL'}}</span>
                        <span class="d-flex stock align-self-end">{{product.currentStock}} unidades</span>
                    </p>
                    <div class="d-grid gap-2 mt-3 rounded-circle">
                        <button type="button" class="btn btn-outline-primary btn-vaquita" (click)="addToCart(product)">Adicionar ao Carrinho</button>
                        <button type="button" class="btn btn-primary btn-vaquita" (click)="buyNow(product)">Comprar agora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader-section class="w-100" *ngIf="loading"></app-loader-section>
<app-no-results *ngIf="!loading" [noResults]="noResults" [componentTitle]="'produtos'"></app-no-results>