@import '../../../../scss/variables.scss';

.card-title, .price, .stock {
    font-family: 'Cubano';
}

.btn-primary.btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;
    font-family: 'Cubano';

    &:hover {
        background-color: $background-light;
        border-color: $background-light;
    }
}

.btn-outline-primary.btn-vaquita {
    // background-color: $background-main;
    color: $background-main;
    border-color: $background-main;

    &:hover {
        background-color: $background-main;
        border-color: $background-main;
        color: white;
    }
}