<app-sub-bar [pageTitle]="'Carrinho'"></app-sub-bar>
<section class="wrapper pt-2" *ngIf="!noResults; else noresults">
    <form [formGroup]="cartForm" (ngSubmit)="submit()" novalidate>
        <div class="container">
            <section class="items-section">
                <div class="section-title py-2 border-bottom">
                    Itens
                </div>
                <div class="row mx-0 flex-row justify-content-between border-bottom py-2"
                    *ngFor="let cartItem of cartItems; let i = index">
                    <img [src]="cartItem.image" alt="cartItem.name"
                        class="product-image col px-0">
                    <div class="col px-0 ms-2">
                        <div class="title d-block text-wrap">{{ cartItem.name | resumir:22 }}</div>
                        <div class="">
                            <span class="price align-self-center">{{
                                cartItem.price | currency: "BRL":"symbol"
                                }}</span>
                        </div>
                    </div>
                    <div class="col d-flex flex-row justify-content-end">
                        <div class="quantity-container d-inline align-self-center">
                            <div class="d-inline align-self-center justify-content-around me-3">
                                <i [ngClass]="{ disabled: cartItem.quantity === 1 }"
                                    class="fas fa-minus clickable d-inline" (click)="decrementItem(i)"></i>
                                <input class="d-none" type="number" [id]="'quantity' + i" />
                                <span class="quantity mx-2">{{ cartItem.quantity }}</span>
                                <i [ngClass]="{ disabled: cartItem.quantity >= cartItem.stock }"
                                    class="fas fa-plus clickable d-inline" (click)="incrementItem(i)"></i>
                            </div>
                            <i class="fas fa-trash text-danger align-self-center clickable d-inline"
                                (click)="deleteItem(i)"></i>
                        </div>
                    </div>
                </div>
                <div class="text-center py-2 border-bottom">
                    <a [routerLink]="['/produtos']" class="link-primary">Adicionar mais itens</a>
                </div>
                <div class="prices py-2">
                    <div class="total d-flex flex-row justify-content-between">
                        <span>
                            Total
                        </span>
                        <span>
                            {{ subTotal | currency: "BRL":"symbol" }}
                        </span>
                    </div>
                </div>
            </section>
            <section class="payment-section">
                <div class="section-title py-2 border-bottom">
                    Pagamento
                </div>
                <div class="col text-secondary mt-2 px-0">
                    <div class="exp">
                        <div class="checkbox">
                            <div>
                                <input type="radio" id="radio3" value="PIX" formControlName="paymentMethod" />
                                <label for="radio3" class="text-left mb-0">
                                    <span class="me-1"></span>
                                    Pix
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <button [disabled]="cartForm.invalid || loading" type="submit"
                class="btn btn-primary btn-vaquita btn-lg w-100 my-3">
                Fazer Pedido
                <app-loader *ngIf="loading"></app-loader>
            </button>
        </div>
    </form>
</section>
<ng-template #noresults>
    <div class="container">
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-column">
                <img class="mt-3 align-self-center me-3" width="150px" src="assets\images\empty-cart.png" alt="">
                <h3 class="mt-3">Seu carrinho está vazio!</h3>
                <a class="text-center link-primary" routerLink="/produtos">Voltar para a página de produtos</a>
            </div>
        </div>
    </div>
</ng-template>