@import '../../../../scss/variables.scss';

.wrapper {

  .btn-primary.btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;
    font-family: 'Cubano';

    &:hover {
      background-color: $background-light;
      border-color: $background-light;
    }
  }

  .product-image {
    max-width: 80px;
    max-height: 45px;
  }

  .small-font {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 1.2rem;
    font-family: 'Cubano';
  }

  .address-text>i,
  span {
    font-size: 0.9rem;
  }

  .items-section {
    .price {
      font-weight: bold;
      font-size: 0.8rem;
    }

    .title {
      font-size: 0.9rem;
    }
  }

  input[readonly] {
    background-color: white;
  }

  .prices {

    *span {
      font-size: 0.9rem;
    }

    .total>span {
      font-weight: 500;
      font-size: 1.1rem !important;
    }
  }

  .quantity-container {
    touch-action: manipulation;

    .quantity {
      user-select: none;
      /* supported by Chrome and Opera */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
    }

    i {
      color: $background-main;
      display: flex;
      align-self: center;
      touch-action: manipulation;

      &.disabled {
        color: lightgray !important;
      }
    }
  }
}

.plus-minus {
  --primary: #212529;
  --secondary: #FAFBFF;
  --duration: .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, #212529);
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 240px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  background-size: 300% 300%;
  transition: transform .3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  animation: var(--name, unchecked) var(--duration) ease forwards;
  margin-bottom: -3px;

  &:before,
  &:after {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      content: '\f067';
      color: white;
      position: absolute;
      width: 16px;
      height: var(--height, 16px);
      left: 2.4px;
      top: -0.5px;
      font-size: 0.75rem;
      animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) var(--duration) ease forwards;
  }
  &:before {
    content: '\f068';

    color: #212529;
  }
  &:after {
      --height: 4px;
      --top: 12px;
      --background: var(--secondary);
      --name-icon-b: var(--name-icon-a, checked-icon);
  }
  &:active {
      --scale: .95;
  }
  &:checked {
      --name: checked;
      --name-icon-b: checked-icon;
      --name-icon-a: unchecked-icon;
  }
}

h3 {
  font-family: 'Cubano';
}

.exp {
  display: flex; // to center the item
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .checkbox {
    display: flex; // to center the item
    width: 100%;
    height: 100%;
    vertical-align: middle; // to center the item
    text-align: center; // to center the item
  }

  label {
    display: inline-block; // to make it easier to click
    cursor: pointer;
    position: relative; // important
    // font-size: 0.8rem;

    a {
      font-size: 0.8rem;
    }

    // Now we'll create the checkbox object

    span {
      color: rgb(219, 219, 219);
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 18px;
      height: 18px;
      transform-origin: center;
      border: 2px solid rgb(219, 219, 219);
      border-radius: 50%;
      vertical-align: -4px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89); // custom ease effect for bouncy animation

      &::before {
        content: "";
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: white;
        transition: background-color 150ms 200ms;
      }
    }
  }

  input[type="radio"] {
    display: none; // hide the system checkbox

    // Let's add some effects after the checkbox is checked

    &:checked {
      +label {
        span {
          transform: scale(1.25); // enlarge the box

          &::before {
            content: "";
            border-radius: 50%;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: $background-main;
          }
        }

        &:hover {

          // copy the states for onMouseOver to avoid flickering
          span {
            transform: scale(1.25); // enlarge the box

            &::before {
              background-color: $background-light;
            }
          }
        }
      }
    }
  }
}