@import "../../../scss/variables";

.card.card-loader {
    // border: none;
    background-color: transparent;
    .card-body {
        background-color: transparent;
        .loader-message {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}
