@import '../../../../scss/variables.scss';

.layout-section {
    display: flex;
    min-height: 100vh;

    .content-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        flex: 1;

        .header-section {
            // TODO
            height: 63px;
        }

        .main-content {
            flex: 1;
            background-color: white;
            // padding: 50px;
            // padding-bottom: 0px;
        }
    }
}

.badge {
    left: 36px;
    top: 0;
    font-size: .85rem;
}

.btn-primary.btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;
    font-family: 'Cubano';

    &:hover {
        background-color: $background-light;
        border-color: $background-light;
    }
}

.fab {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}