<section class="layout-section">
    <section class="content-section">
        <header class="header-section">
            <app-navbar></app-navbar>
        </header>
        <main class="main-content">
          <router-outlet #o="outlet"></router-outlet>
        </main>
        <footer class="footer-section">
            <app-footer></app-footer>
        </footer>
    </section>
    <button type="button" class="btn btn-primary btn-vaquita fab rounded-circle" *ngIf="currentRoute !== '/contribua'" routerLink="/contribua">
        <span class="position-absolute badge rounded-pill bg-danger" *ngIf="cartItems !== 0">
            {{cartItems}}
            <span class="visually-hidden">itens no carrinho</span>
          </span>
        <i class="fa fa-shopping-cart fa-lg"></i>
    </button>
</section>