<app-sub-bar></app-sub-bar>
<section class="user-profile container d-flex mt-5">
    <div class="row g-0 w-100">
        <div class="col-12 col-md-2">
            <app-user-menu></app-user-menu>
        </div>
        <div class="user-profile-forms col-12 col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>