@import "./../../../../scss/variables.scss";

.campaign-image {
    width: 100px;
    // height: 100%;
}

.card-title {
    font-family: 'Cubano';
}

.fw-600 {
    font-weight: 600;
}

.btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;

    &:hover {
      background-color: $background-light;
      border-color: $background-light;
    }
  }

.text-success{
    color: #28a745 !important
}

@import "../../../../scss/variables.scss";
.percentage {
    color: $background-main;
}

.progress {
    width: 85%;
    margin-bottom: 4px;

    .progress-bar {
        background-color: $background-main;
    }
}