<div class="row gy-3">
    <div class="col-12" *ngFor="let campaign of paginationService.data | async; let i = index">
        <div class="card">
            <div class="card-body d-flex flex-row">
                <div class="w-100">
                    <h5 class="card-title">{{campaign.title}}</h5>
                    <div class="flex-">
                        <div class="card-text d-flex flex-row">
                            <div>
                                <img [src]="campaign.image" class="campaign-image me-2" [alt]="campaign.title">
                            </div>
                        </div>
                        <div>
                            <div class="card-text d-flex flex-row">
                                <div class="me-1">Estado:</div>
                                <div class="fw-bold" [ngSwitch]="campaign.status">
                                    <div class="text-success" *ngSwitchCase="campaignEnum.ACTIVE">
                                        Ativa
                                    </div>
                                    <div class="text-danger" *ngSwitchCase="campaignEnum.CLOSED">
                                        Encerrada
                                    </div>
                                    <div class="text-danger" *ngSwitchCase="campaignEnum.SUSPENDED">
                                        Suspensa
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <div>Arrecadado: {{campaign.revenue | currency: "BRL":"symbol"}}</div>
                                    <div>Meta: {{campaign.goal | currency: "BRL":"symbol"}}</div>
                                    <div>Encerra em: {{campaign.endDate.toDate() | date:'shortDate'}}</div>
                                </div>
                            </div>
                            <div class="row card-text">
                                <div class="d-flex flex-row justify-content-between mt-1">
                                    <span class="fw-bold fs-5 percentage me-2">{{((campaign.revenue * 100) / campaign.goal)
                                        +
                                        '%'}}</span>
                                        <div class="progress align-self-center rounded-pill">
                                            <div class="progress-bar" role="progressbar"
                                            [ngStyle]="{'width': ((campaign.revenue * 100) / campaign.goal) + '%'}"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <button class="btn btn-vaquita col-12 col-sm-3 ml-sm-0 ms-sm-2 mt-1" (click)="goToDonos(campaign.id)">Ver Doações</button>
                                    <!-- <button class="btn btn-vaquita dropdown-toggle col-12 col-sm-3 ml-sm-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#">Action</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul> -->
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="scrollHandler()"></div>
    <app-loader-section class="w-100" *ngIf="paginationService.loading | async"></app-loader-section>
    <p class="w-100 text-center py-2" *ngIf="paginationService.done | async">Todos os pedidos carregados!</p>
    <div *ngIf="paginationService.noResults | async" class="row mx-0 w-100 d-flex flex-row justify-content-center">
        <p>
            Você ainda não criou nenhuma campanha!
            <!-- <a class="d-inline" [routerLink]="['/campanhas']">Explore as campanhas</a> -->
        </p>
    </div>
</div>