@import "../../../../scss/variables.scss";
.percentage {
    color: $background-main;
}

.progress {
    width: 85%;
    margin-bottom: 4px;

    .progress-bar {
        background-color: $background-main;
    }
}

.card-title {
    font-family: 'Cubano';
}