<section class="campaigns-section container pt-3">
    <!-- <div class="row">
        <div class="col-md-4" *ngIf="!loading">
            <input [(ngModel)]="search" type="text" class="form-control mb-3" placeholder="Buscar por campanhas" />
        </div>
    </div> -->
    <div class="row gy-4">
        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let campaign of campaigns; let i = index">
            <div class="card clickable" (click)="goToCampaign(campaign)">
                <img [src]="campaign.image"
                    class="card-img-top img-fluid" [alt]="campaign.title">
                <div class="card-body">
                    <h5 class="card-title">{{campaign.title | resumir: 35}}</h5>
                    <img class="rounded-circle mr-1"
                        [src]="campaign.photoURL"
                        alt="User profile picture" width="30px" height="30px" />
                    <span class="card-text ms-2">{{campaign.displayName | resumir:25}}</span>
                    <div class="d-flex flex-row justify-content-between mt-1">
                        <span class="fw-bold fs-5 percentage me-2">{{((campaign.revenue * 100) / campaign.goal) +
                            '%'}}</span>
                        <div class="progress align-self-center rounded-pill">
                            <div class="progress-bar" role="progressbar"
                                [ngStyle]="{'width': ((campaign.revenue * 100) / campaign.goal) + '%'}"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <p class="d-flex flex-row justify-content-between mb-0">
                        <span class="d-flex">Arrecadado: {{campaign.revenue | currency:'BRL'}}</span>
                        <span class="d-flex">Meta: {{campaign.goal | currency:'BRL'}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader-section class="w-100" *ngIf="loading"></app-loader-section>
<app-no-results *ngIf="!loading" [noResults]="noResults" [componentTitle]="'campanhas'"></app-no-results>