<div class="wrapper">
    <nav class="sidebar">
      <ul class="list-unstyled components pt-0">
        <li>
          <a
            class="menu-item pt-0 clickable fw-bold"
            (click)="goToItem('doacoes')"
            [ngClass]="{'active': isGroupActive('doacoes')}"
            >
            <span></span>
            <i class="fas fa-money-bills"></i>Minhas Doações</a>
        </li>
        <li>
          <a
            class="menu-item pt-0 clickable fw-bold"
            (click)="goToItem('campanhas')"
            [ngClass]="{'active': isGroupActive('campanhas')}"
            >
            <span></span>
            <i class="fas fa-piggy-bank"></i>Minhas Campanhas</a>
        </li>
      </ul>
    </nav>
  </div>
  