.wrapper {
    display: flex;
    align-items: stretch;

    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

        .btn-theme-sized {
            color: #ffffff;
            font-family: Lato;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.sidebar {
    width: 250px;
    color: #636363;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    transition: all 0.3s;

    ul {
        li {
            margin-bottom: 20px;
        }
    }
}

.sidebar ul li a {
    text-align: left;
}

.sidebar {
    &.sidebar-header {
        padding: 20px;

        & strong {
            display: none;
            font-size: 1.8em;
        }
    }

    &ul.components {
        padding: 20px 0;
    }

    a {
        display: inline-block;
        color: #636363;
        text-decoration: none;
        transition: color 0.3s;
        padding: 10px;
        font-size: 1rem;
        display: block;

        i, img {
            transition: color 0.3s;
            margin-right: 7px;
            font-size: 0.9rem;
        }

        span {
            display: inline-block;
            transition: opacity 0.3s;
            content: "";
            color: #4a8cde;
            border-left: 3px solid #4a8cde;
            margin-right: 5px;
            width: 2px;
            height: 14px;
            margin-bottom: -2px;
            opacity: 0;
        }

        &.active.menu-item {
            i {
                color: #4a8cde !important;
            }
            span {
                opacity: 1;
            }
        }
        &.menu-subitem {
            padding-left: 40px !important;

            &.active {
                color: #4a8cde;
            }
        }

        &.disabled {
            opacity: 0.5;
        }
    }
}


@media only screen and (max-width: 1140px) {
    .sidebar {
        display: flex;
        justify-content: center;
        width: 100%;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-flow: row wrap;
            li {
                margin-bottom: 10px;
            }
        }
    }
}
