<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let campaign of paginationService.data | async; let i = index">
                <td>{{campaign.displayName}}</td>
                <td>{{campaign.email}}</td>
                <td>{{campaign.totalPrice | currency:'BRL'}}</td>
            </tr>
        </tbody>
    </table>
</div>