<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="footer-info container px-3 mb-md-2">
  
      <div class="version-info">
        {{owner}} <span class="hide-on-minor">- Todos os direitos reservados.</span>
      </div>
  
      <div class="owner-info">
        v{{version}} - {{isProd ? 'prod' : 'dev'}}
      </div>
    </div>
  </footer>
  
  