<div class="row gy-3">
  <div class="col-12" *ngFor="let donation of paginationService.data | async; let i = index">
    <div class="card">
      <div class="card-body d-flex flex-row">
        <div class="w-100">
          <h5 class="card-title">{{donation.campaignTitle}}</h5>
          <div class="card-text d-flex flex-row">
            <div class="me-1">Pagamento:</div>
            <div class="fw-bold" [ngSwitch]="donation.paymentStatus">
              <div class="text-warning" *ngSwitchCase="paymentEnum.PENDING">
                Pendente
              </div>
              <div class="text-success" *ngSwitchCase="paymentEnum.PAID">
                Concluído
              </div>
              <div class="text-danger" *ngSwitchCase="paymentEnum.EXPIRED">
                Expirado
              </div>
              <div class="text-danger" *ngSwitchCase="paymentEnum.CANCELED">
                Cancelado
              </div>
              <div class="text-info" *ngSwitchCase="paymentEnum.CANCELED">
                Reembolsado
              </div>
              <div class="text-info" *ngSwitchCase="paymentEnum.CANCELED">
                Reembolso pendente
              </div>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div>
              <div>Valor: {{donation.totalPrice | currency: "BRL":"symbol"}}</div>
              <div>{{donation.createDate.toDate() | date:'shortDate'}}</div>
              <div>Método de pagamento: {{donation.paymentMethod}}</div>
            </div>
            <div>
              <img [src]="donation.campaignImage" class="campaign-image me-2" [alt]="donation.campaignTitle">
            </div>
          </div>
          <button *ngIf="donation.paymentMethod === 'PIX' && donation.paymentStatus === 'PENDING'" type="button"
            class="btn btn-primary btn-vaquita btn-sm mt-2" (click)="goToPix(donation)">
            <i class="fa-brands fa-pix"></i>
            Pagar Pix
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="scrollHandler()"></div>
  <app-loader-section class="w-100" *ngIf="paginationService.loading | async"></app-loader-section>
  <p class="w-100 text-center py-2" *ngIf="paginationService.done | async">Todos os pedidos carregados!</p>
  <div *ngIf="paginationService.noResults | async" class="row mx-0 w-100 d-flex flex-row justify-content-center">
    <p>
      Você ainda não fez nenhum pedido!
      <a class="d-inline" [routerLink]="['/campanhas']">Explore as campanhas</a>
    </p>
  </div>
</div>