<div *ngIf="noResults" class="text-center mx-auto pt-4">
    <img src="/assets/images/box.svg" alt="Caixa" width="180px">
    <h4 class="food-title">Puts!</h4>
    <p>
        O {{componentTitle}} está vazio!
    </p>
</div>