.topbar-section {
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 1px 3px 9px 3px rgba(142,142,142,0.19);
  z-index: 2;
  font-size: 20px;

  .navbar-toggler {
    border: none;
    padding: 0px !important;

    i {
    }
  }
}

h5 {
  font-family: 'Cubano';
}

@media screen and (max-width: 768px) {
  h5 {
    margin-right: -10px;
  }
}
