<section
  class="topbar-section d-flex flex-row justify-content-between justify-content-md-start px-3"
>
  <button
    class="navbar-toggler me-md-3"
    type="button"
    aria-label="Voltar"
    (click)="goBack()"
  >
    <i class="fas fa-circle-chevron-left"></i>
  </button>
  <h5 class="mb-0 text-center text-md-left align-self-center">
    {{ pageTitle }}
  </h5>
  <button
    *ngIf="pageTitle !== 'Meus Pedidos'"
    class="navbar-toggler invisible"
    type="button"
    aria-label="Ignora"
  >
    <i class="fas fa-chevron-left"></i>
  </button>
  <div
    *ngIf="pageTitle === 'Meus Pedidos'"
    class="d-flex align-self-center ml-2"
  >
  </div>
</section>
