<section class="signup-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <h3 class="text-center mt-5">Crie uma Conta</h3>
                <div class="d-grid gap-2">
                    <!-- <button class="btn btn-primary facebook" (click)="loginFacebook()" type="button"><i
                            class="fab fa-facebook-f fa-lg me-3"></i>Entrar com Facebook</button> -->
                    <button class="btn btn-primary google" (click)="loginGoogle()" type="button"><i
                            class="fab fa-google fa-lg me-3"></i>Entrar com Google</button>
                </div>
                <div class="or">
                    <hr>
                    <span>ou</span>
                </div>
                <form class="pt-0" [formGroup]="signupForm" (ngSubmit)="register()" novalidate>
                    <div class="form-row pb-2">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="firstName"
                            [ngClass]="{
                'is-invalid':
                formControls['firstName'].errors &&
                (formControls['firstName'].dirty ||
                    formControls['firstName'].touched ||
                    isSubmit)
            }" />
                        <div *ngIf="formControls['firstName'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['firstName'].errors['required']">
                                Campo obrigatório
                            </div>
                            <div *ngIf="formControls['firstName'].errors['maxlength']">Muito longo</div>
                        </div>
                    </div>
                    <div class="form-row py-2">
                        <input type="text" class="form-control" placeholder="Sobrenome" formControlName="lastName"
                            [ngClass]="{
                'is-invalid':
                formControls['lastName'].errors &&
                (formControls['lastName'].dirty ||
                    formControls['lastName'].touched ||
                    isSubmit)
            }" />
                        <div *ngIf="formControls['lastName'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['lastName'].errors['required']">
                                Campo obrigatório
                            </div>
                            <div *ngIf="formControls['lastName'].errors['maxlength']">Muito longo</div>
                        </div>
                    </div>
                    <div class="form-row py-2">
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                [email]="true" [ngClass]="{
                'is-invalid':
                formControls['email'].errors &&
                (formControls['email'].dirty ||
                    formControls['email'].touched ||
                    isSubmit)
            }" />
                            <div *ngIf="formControls['email'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['email'].errors['required']">
                                    Campo obrigatório
                                </div>
                                <div *ngIf="formControls['email'].errors['email']">Email inválido</div>
                                <div *ngIf="formControls['email'].errors['uniqueEmail']">
                                    Email já cadastrado
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group py-2">
                        <input type="password" class="form-control password" formControlName="password" #password
                            placeholder="Senha" [ngClass]="{
            'is-invalid':
            formControls['password'].errors &&
            (formControls['password'].dirty ||
                formControls['password'].touched ||
                isSubmit)
        }" />
                        <div class="input-group-append">
                            <div class="input-group-text" (click)="togglePassword()">
                                <i class="far fa-eye-slash" *ngIf="!isPasswordVisible"></i>
                                <i class="far fa-eye" *ngIf="isPasswordVisible"></i>
                            </div>
                        </div>
                        <div *ngIf="formControls['password'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['password'].errors['required']">
                                Campo obrigatório
                            </div>
                            <div *ngIf="formControls['password'].errors['minlength']">
                                Mínimo de 8 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="input-group py-2">
                        <input type="password" class="form-control confirm-password" placeholder="Confirmar Senha"
                            formControlName="confirmPassword" #confirmPassword [ngClass]="{
                    'is-invalid':
                    formControls['confirmPassword'].errors &&
                    (formControls['confirmPassword'].dirty ||
                        formControls['confirmPassword'].touched ||
                        isSubmit)
                }" />
                        <div class="input-group-append">
                            <div class="input-group-text" (click)="toggleConfirm()">
                                <i class="far fa-eye-slash" *ngIf="!isConfirmVisible"></i>
                                <i class="far fa-eye" *ngIf="isConfirmVisible"></i>
                            </div>
                        </div>
                        <div *ngIf="formControls['confirmPassword'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['confirmPassword'].errors['required']">
                                Campo obrigatório
                            </div>
                            <div *ngIf="formControls['confirmPassword'].errors['minlength']">
                                Mínimo de 8 caracteres
                            </div>
                            <div *ngIf="!formControls['confirmPassword'].errors['isMatching']">
                                As senhas estão diferentes
                            </div>
                        </div>
                    </div>
                    <div class="col text-secondary mt-2 px-0">
                        <div class="exp">
                            <div class="checkbox">
                                <div>
                                    <input type="checkbox" id="check" name="check" formControlName="acceptedTerms" />
                                    <label for="check" class="text-left mb-0">
                                        <span class="mr-1"></span>
                                        Li e aceito os
                                        <a href="" routerLink="/termos-de-uso"> Termos de Uso </a> e
                                        <a href="" routerLink="/politica-de-privacidade">
                                            Política de privacidade
                                        </a>
                                        da plataforma.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-vaquita btn-block mt-1">
                            Criar conta
                            <app-loader *ngIf="loading"></app-loader>
                        </button>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <a class="link-dark mt-2 mx-auto" routerLink="/login">Já tem uma conta? Clique aqui</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>