@import "../../../../scss/variables.scss";

.signup-section {

  .card-title {
    font-weight: 300;
  }

  .btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;

    &:hover {
        background-color: $background-light;
        border-color: $background-light;
    }
  }

  .facebook {
    background-color: #4267B2;
    border-color: #4267B2;

    &:hover {
      background-color: darken(#4267B2, 10%);
      border-color: darken(#4267B2, 10%);
    }
  }

  .google {
    background-color: #db4a39;
    border-color: #db4a39;

    &:hover {
      background-color: darken(#db4a39, 10%);
      border-color: darken(#db4a39, 10%);
    }
  }

  .or {
    hr {
      background-color: #cdcdcd;
      margin-top: 1.2rem;
    }

    span {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -1.5em;
      color: darken(#cdcdcd, 15%);
      background-color: white;
      width: 3em;
      text-align: center;
      margin-top: -30.5px;
    }
  }

  form {
    padding-top: 10px;

    .form-row>.col-md-6 {
      padding-bottom: 10px;

      .invalid-feedback>div {
        font-size: 0.8rem !important;
      }

      .is-invalid {
        &+.input-group-append>.input-group-text {
          border-color: #dc3545 !important;
        }
      }
    }

    .btn-primary {
      font-size: 1rem !important;
      margin-top: 6px;
    }
  }

  .form-control {

    &.password,
    &.confirm-password {
      padding-right: 37px;
      background-image: none;
    }

    &:focus {
      &+.input-group-append>.input-group-text {
        border-color: #80bdff;
      }
    }
  }

  .input-group-append {
    justify-content: flex-end;
    margin-top: 1px;
    position: absolute;
    right: 5px;
    z-index: 3;

    .input-group-text {
      background-color: transparent;
      padding: 0.65rem 0.75rem;
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      padding-bottom: 0.61rem;
      border: none;

      .fa-eye {
        width: 20px;
      }
    }
  }

  @media screen and (max-width: 558px) {
    .col.text-secondary {
      display: flex;

      input {
        align-self: center;
      }
    }
  }

  .exp {
    display: flex; // to center the item
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .checkbox {
      display: flex; // to center the item
      width: 100%;
      height: 100%;
      vertical-align: middle; // to center the item
      text-align: center; // to center the item
    }
  }

  label {
    display: inline-block; // to make it easier to click
    cursor: pointer;
    position: relative; // important
    font-size: 0.8rem !important;

    a {
      font-size: 0.8rem !important;
    }

    // Now we'll create the checkbox object

    span {
      color: rgb(219, 219, 219);
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 18px;
      height: 18px;
      transform-origin: center;
      border: 2px solid rgb(219, 219, 219);
      border-radius: 50%;
      vertical-align: -4px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89); // custom ease effect for bouncy animation

      &::before {
        content: "";
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: white;
        transition: background-color 150ms 200ms;
      }
    }
  }

  input[type="checkbox"] {
    display: none; // hide the system checkbox

    // Let's add some effects after the checkbox is checked

    &:checked {
      +label {
        span {
          transform: scale(1.25); // enlarge the box

          &::before {
            content: "";
            border-radius: 50%;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: $background-main;
          }
        }

        &:hover {

          // copy the states for onMouseOver to avoid flickering
          span {
            transform: scale(1.25); // enlarge the box

            &::before {
              background-color: $background-main;
            }
          }
        }
      }
    }
  }

}

.card-text * {
  font-size: 0.9rem;
}

h3 {
  font-family: 'Cubano';
}