/* You can add global styles to this file, and also import other style files */

/* Common Global SCSS */
@use "scss/partials/_fonts.scss";
@use "scss/partials/_common.scss";

* {
    font-family: 'Nunito Sans';
}

.fs-1 {
    font-family: 'Cubano';
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
