@import "../../../../scss/variables.scss";

.signin-section {

  .card-title {
    font-weight: 300;
  }

  .btn-vaquita {
    background-color: $background-main;
    color: white;
    border-color: $background-main;

    &:hover {
        background-color: $background-light;
        border-color: $background-light;
    }
  }

  .facebook {
    background-color: #4267B2;
    border-color: #4267B2;

    &:hover {
      background-color: darken(#4267B2, 10%);
      border-color: darken(#4267B2, 10%);
    }
  }

  .google {
    background-color: #db4a39;
    border-color: #db4a39;

    &:hover {
      background-color: darken(#db4a39, 10%);
      border-color: darken(#db4a39, 10%);
    }
  }

  .or {
    hr {
      background-color: #cdcdcd;
      margin-top: 1.2rem;
    }

    span {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -1.5em;
      color: darken(#cdcdcd, 15%);
      background-color: white;
      width: 3em;
      text-align: center;
      margin-top: -30.5px;
    }
  }

  form {
    padding-top: 10px;

    .form-row>.col-md-6 {
      padding-bottom: 10px;

      .invalid-feedback>div {
        font-size: 0.8rem !important;
      }

      .is-invalid {
        &+.input-group-append>.input-group-text {
          border-color: #dc3545 !important;
        }
      }
    }

    .btn-primary {
      font-size: 1rem !important;
      margin-top: 6px;
    }
  }

  .form-control {

    &.password,
    &.confirm-password {
      padding-right: 37px;
      background-image: none;
    }

    &:focus {
      &+.input-group-append>.input-group-text {
        border-color: #80bdff;
      }
    }
  }

  .input-group-append {
    justify-content: flex-end;
    margin-top: 1px;
    position: absolute;
    right: 5px;
    z-index: 3;

    .input-group-text {
      background-color: transparent;
      padding: 0.65rem 0.75rem;
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      padding-bottom: 0.61rem;
      border: none;

      .fa-eye {
        width: 20px;
      }
    }
  }
}

h3 {
  font-family: 'Cubano';
}