<section class="signin-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <h3 class="text-center mt-5">Entre na sua conta</h3>
                <div class="d-grid gap-2">
                    <!-- <button class="btn btn-primary facebook" (click)="loginFacebook()" type="button"><i
                            class="fab fa-facebook-f fa-lg me-3"></i>Entrar com Facebook</button> -->
                    <button class="btn btn-primary google" (click)="loginGoogle()" type="button"><i
                            class="fab fa-google fa-lg me-3"></i>Entrar com Google</button>
                </div>
                <div class="or">
                    <hr>
                    <span>ou</span>
                </div>
                <form class="pt-0" [formGroup]="signInForm" (ngSubmit)="login()" novalidate>
                    <div class="form-row pt-0 py-2">
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                [email]="true" [ngClass]="{
                'is-invalid':
                formControls['email'].errors &&
                (formControls['email'].dirty ||
                    formControls['email'].touched ||
                    isSubmit)
            }" />
                            <div *ngIf="formControls['email'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['email'].errors['required']">
                                    Campo obrigatório
                                </div>
                                <div *ngIf="formControls['email'].errors['email']">Email inválido</div>
                                <div *ngIf="formControls['email'].errors['uniqueEmail']">
                                    Email já cadastrado
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group py-2">
                        <input type="password" class="form-control password" formControlName="password" #password
                            placeholder="Senha" [ngClass]="{
            'is-invalid':
            formControls['password'].errors &&
            (formControls['password'].dirty ||
                formControls['password'].touched ||
                isSubmit)
        }" />
                        <div class="input-group-append">
                            <div class="input-group-text" (click)="togglePassword()">
                                <i class="far fa-eye-slash" *ngIf="!isPasswordVisible"></i>
                                <i class="far fa-eye" *ngIf="isPasswordVisible"></i>
                            </div>
                        </div>
                        <div *ngIf="formControls['password'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['password'].errors['required']">
                                Campo obrigatório
                            </div>
                            <div *ngIf="formControls['password'].errors['minlength']">
                                Mínimo de 8 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <a class="link-dark ms-auto" (click)="forgotPassword()">Esqueci minha senha</a>
                    </div>
                    <div class="d-grid">
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-vaquita btn-block mt-1">
                            Entrar
                            <app-loader *ngIf="loading"></app-loader>
                        </button>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <a class="link-dark mt-2 mx-auto" routerLink="/cadastro">Não possui conta? Cadastre-se!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>