@import "../../../scss/variables.scss";

.app-topbar {
  background-color: $background-main !important;
  // height: 67px;
  box-shadow: 1px 3px 9px 3px rgba(142,142,142,0.19);
  z-index: 3;
  position: fixed;
  width: 100%;

  .clean-dropdown {

    .dropdown-toggle {
      background-color: transparent;
      border-color: transparent;

      &::after {
        display: none;
      }

      +.dropdown-menu {
        box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
        position: absolute;
        left: initial;
        right: 0;

        span.d-block {
          font-weight: 600;
        }

        .arrow-up {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: 9px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid white;
          margin-top: -7px;
        }
      }
    }
  }

  .dropdown-profile::after {
    display: inline;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown-menu {
    padding-left: 1px;
    padding-right: 1px;
  }

  .dropdown-item:active {
    background-color: transparent;
    color: inherit;
  }

  .navbar-brand {
    font-family: 'Cubano';
    font-size: 1.5rem;
  }

  .btn-vaquita {
    background-color: $background-dark;
    color: white;
    border-color: $background-dark;

    &:hover {
      background-color: $background-light;
      border-color: $background-light;
    }
  }
}

@media screen and (min-width: 320px) and (min-width: 380px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}