<nav class="navbar navbar-expand-lg navbar-dark app-topbar">
  <div class="container-md">
    <a class="navbar-brand" (click)="goTo('.')" routerLinkActive="active">🐮 Vaquitas 🐮</a>

    <div class="d-flex float-end d-flex">
      <i class="fa-solid fa-bars navbar-toggler text-white border-0" (click)="navbarCollapsed = !navbarCollapsed"></i>
    </div>

    <div [ngbCollapse]="navbarCollapsed" class="collapse navbar-collapse justify-content-lg-end">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
        <li class="nav-item">
          <ng-template #signInUp>
            <a class="nav-link text-white" *ngIf="user">Entrar</a>
            <button type="button" class="btn btn-primary btn-vaquita" *ngIf="user" (click)="goTo('cadastro')">Cadastre-se!</button>
          </ng-template>
          <a class="nav-link text-white" *ngIf="user" (click)="goTo('/usuario/doacoes')">Minhas Doações</a>
          <a class="nav-link text-white" *ngIf="user" (click)="goTo('/usuario/campanhas')">Minhas Campanhas</a>
          <button *ngIf="user; else login" type="button" class="btn btn-primary btn-vaquita" (click)="signOut()"><i
              class="fa-solid fa-arrow-right-from-bracket"></i> Sair</button>
          <ng-template #login>
            <a class="nav-link text-white" (click)="goTo('login')">Entrar</a>
            <button type="button" class="btn btn-primary btn-vaquita"(click)="goTo('cadastro')"
              routerLinkActive="active">Cadastre-se!</button>
          </ng-template>
        </li>
      </ul>
      <div class="d-flex text-white d-none d-lg-flex">
        <a class="nav-link text-white" (click)="goTo('login')" *ngIf="!user">Entrar</a>
        <button type="button" class="btn btn-primary btn-vaquita" *ngIf="!user"  (click)="goTo('/cadastro')"
          routerLinkActive="active">Cadastre-se!</button>
      </div>
      <div *ngIf="user; else signInUp" class="dropdown clean-dropdown d-none d-lg-flex">
        <a class="btn dropdown-toggle d-flex ps-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img class="rounded-circle mr-1" [src]="photoURL" alt="User profile picture" width="35px" height="35px" />
          <i class="fa-solid fa-angle-down text-white ms-2 fa-xl align-self-center"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item">
            Logado como <span class="d-block">{{ displayName }}</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="goTo('usuario')">Minhas Doações</a>
          <a class="dropdown-item" (click)="goTo('usuario/campanhas')">Minhas Campanhas</a>
          <a *ngIf="roles.admin" class="dropdown-item" (click)="goTo('admin/painel')">Admin</a>
          <a *ngIf="user; else login" (click)="signOut()" class="dropdown-item clickable text-danger">
            Sair
          </a>
          <ng-template #login>
            <a href="" class="dropdown-item">
              <span class="clickable" (click)="goTo('/login/sign-in')">
                Entrar
              </span>
            </a>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>